@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nuosu+SIL&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../image/BG1.jpg) no-repeat center center / cover;
  height: 100%;
  width: 100%;
  padding: 3vw;
  color: #FFFFFF;
  z-index: 1; 
  /* font-family: 'Courier New', Courier, monospace; */
  /* position: relative;  */
}


a {
  color: #FFFFFF;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: fit-content;
  text-decoration: none;
}

.container {
  background: url(../image/BG2.jpg) no-repeat center center / cover;
}

.logo {
  width: 55%; 
  margin: 0 auto;
}

.container-image {
  min-height: 100vh;
  padding: 2.8vw; 
  background-color: #002b49;
  background: url(../image/logo-background.svg) no-repeat center center / cover;
  background-position: -17% 17%;
  background-size: 127%;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 43, 73, 0.95);
}

.container-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 /*  background-color: #002b49; */
 /* background-color: rgba(0, 43, 73, 0.98); */
  z-index: -1;
}

.container-background {
  width: 100%;
}

.container-text {
  border: 1px solid rgba(255, 255, 255, 0.10); 
  /* border: 1px solid rgba(26, 56, 77, 0.95); */
  padding: 4vw 2vw;
  text-align: center; 
  /* min-height: 90vh;  */
  min-height: calc(100vh - 2vw);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  opacity: 0.95;
}

.title {
  font-size: 6.5vw;
  padding: 1vw 0;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Helvetica' ; */
  letter-spacing: 8px;
}

.slogan {
  font-size: 1.4vw;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Helvetica' ; */
  font-weight: 400;
  letter-spacing: 3px;
}
.separate {
    width: 6vw;
    margin: 2.3vw auto;
    /* border: 1px solid #F3F3F3;
    opacity: 0.60; */
    border: 1px solid rgba(255, 255, 255, 0.10); 
}

.text{
  font-size: 1vw;
  padding-bottom:1.5vw;
  font-family: 'Nuosu SIL', serif;
  /* font-family: 'Times New Roman', Times, serif; */
  letter-spacing: 0.7px;
  /* opacity: 0.80; */
  color: rgba(255, 255, 255, 0.80);
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 90%; 
  }

  .container-image {
    min-height: calc(100vh - 6vw);
  }

  .container-text {
    min-height: calc(100vh - 13vw);
    padding: 8vw 1.5vw;
  }

  .title {
    font-size: 8.8vw;
    padding: 8vw 0 3vw 0;
  }

  .slogan {
    font-size: 4.4vw;
  }

  .separate {
    margin: 7vw auto;
  }

  .text {
    font-size: 3.4vw;
    padding-bottom:4vw;
  }
}